//NAVIGATION STYLING
.topnav 
  overflow: hidden
  background-color: #fff
  font-family: 'Julius Sans One', sans-serif
  border: solid thin
  text-align: center

.topnav a 
  float: left
  display: block
  color: #000
  padding: 14px 16px
  border-right: solid black thin
  font-size: 17px


.topnav a:hover 
  background-color: #e3f4ff
  color: black

.topnav a.active 
    background-color: #46b5ff
    color: white
    font-weight: bold


//GENERAL STYLING
body
  background-color: #F4F3F1
  margin: 5px

h3
  font-family: 'Julius Sans One', sans-serif
  font-weight: bold


p
  color: black
  font-family: 'Lato', sans-serif;

.lead
  font-family: 'Julius Sans One', sans-serif
  font-weight: bold


.box-styling
  border-style: solid 
  border-color: #46b5ff
  padding: 15px  
  margin-top: 15px

i .fa-external-link
  color: black

//WELL STYLING
.well
  background-color: white
  margin-top: 15px
  text-align: center
  font-family: 'Open Sans', sans-serif

.well h2
  font-family: 'Julius Sans One', sans-serif
  font-weight: bold

.well button
  color: black
  font-family: 'Lato', sans-serif;

.well button:hover
  background-color:#46b5ff
  color: white
  font-family: 'Lato', sans-serif;

.well button:hover
  background-color:#46b5ff
  color: white
  font-family: 'Lato', sans-serif;

#mission-staff
  background-color:#a8dcff

#mission-staff p
  font-weight: bold
  color: white
  font-size: 17px

#mission
  background: grey

.pups
  padding-top: 10px
  color: black
  font-weight: bold
  font-family: 'Julius Sans One', sans-serif


//IMAGE STYLING
#cat-dog
  margin-top: 15px
  height: 100%
  width: 100%

#puppy
  height: 100%
  width: 100%
  opacity: 1
  display: block
  transition: .5s ease
  backface-visibility: hidden

.middle
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)

.puppy-effects:hover #puppy
  opacity: 0.3

.puppy-effects:hover .middle
  opacity: 1

.text
  background-color: #46b5ff;
  color: white;
  font-family: 'Open Sans', sans-serif  
  font-size: 18px;
  padding: 16px 32px;
  

//GOOGLE MAPS STYLING
#googleMap1
  height: 300px
  width: 100%


//SOCIAL STYLING
.social
  padding-bottom: 15px

//ICONS
.fa-heart
  color: red
  background-color: white

.fa-heart:hover
  font-size: 25px

#heart
  background-color: white


//Shelter Needs Panels
.panel-default
  text-align: center

.modal-space
  padding: 10px

.bold-text
  font-weight: bold

.modal-header
  background-color: #5bc0de
  color: white
  font-weight: bold

a p
  color: red

.bequest
  font-style: italic

ul li
  text-align: center

.wish-list
  text-align: center
  font-weight: bold
  font-size: 20px
  padding-bottom: 7px
  text-decoration: underline

.text p a
  color: white
  font-weight: bolder

/* Important part */
.modal-dialog
    overflow-y: initial 

.modal-body
    height: 500px
    overflow-y: auto