.topnav {
  overflow: hidden;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.topnav a {
  float: left;
  display: block;
  color: #000;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #e3f4ff;
  color: black;
}

.topnav a.active {
  background-color: #F4F3F1;
  color: white;
}

#mySecondNav.secondNav {
  text-align: center;
}

.secondNav {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  float: right;
}

.secondNav a {
  float: left;
  display: block;
  color: #000;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.secondNav a:hover {
  background-color: #e3f4ff;
  color: black;
}

.secondNav a.active {
  background-color: #F4F3F1;
  color: white;
}

body {
  background-color: #F4F3F1;
  margin: 5px;
}

.container-fluid {
  padding: 0px;
  margin: 0px;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.box-styling {
  border-style: solid;
  border-color: #96d5ff;
  padding: 15px;
  margin-top: 15px;
}

.well {
  background-color: white;
  margin-top: 15px;
  text-align: center;
}

.welll h2 {
  font-family: 'Julius Sans One', sans-serif;
}

i .fa-external-link {
  color: black;
}

#cat-dog {
  margin-top: 15px;
  height: 100%;
  width: 100%;
}

#puppy {
  height: 100%;
  width: 100%;
}

#googleMap1 {
  height: 200px;
  width: 100%;
}
